.default {
    display: inline-block;
    padding: 12px 35px;
    margin: 7px;

    font-family: inherit;
    font-size: 1rem;
    line-height: 1.1;
    color: #fff;
    font-weight: 500;
    text-decoration: none;

    background-color: #598FD7;

    border-radius: 5px;
    border: 0;
    cursor: pointer;

    transition: background 0.3s linear;
}

.default:hover{
    background-color: #2b3f77;
}

.red {
    display: inline-block;
    padding: 12px 35px;
    margin-bottom: 10px;

    font-family: inherit;
    font-size: 1rem;
    line-height: 1.1;
    color: white;
    background-color: #E1A3D4;

    border-radius: 5px;
    border: 0;
    cursor: pointer;

    transition: background 0.3s linear;
}

.red:hover{
    background-color: #d95ebd;
}

.disabled:disabled{
    display: inline-block;
    padding: 12px 35px;

    font-family: inherit;
    font-size: 1rem;
    line-height: 1.1;
    color: #a9a9a9;
    background-color: #fca5e4;

    border-radius: 5px;
    border: 0;
    cursor: not-allowed;
    z-index: 5;


    transition: background 0.3s linear;
}