
.settings_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5px;
    padding: 20px;
    border-radius: 15px;
    border: solid 4px cyan;
    width: 400px;
    height: 310px;
}

.input_block_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    background: linear-gradient(#ff0000, #00ffff);
    border-radius: 15px;
    height: 200px;
}

.input_block {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    padding: .5em;
    width: 90%;
}

.input_block>label{
    flex: 2;
}

.input_block>input{
    flex: 1;
}

.input_style {
    display: flex;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    font-size: 20px;
    text-align: center;
}

.input_alert{
    display: flex;
    border-radius: 5px;
    border-color: #ff0000;
    width: 120px;
    height: 30px;
    font-size: 20px;
    background-color: #6f1d1d;
    color: #ff0000;
    text-align: center;
}


.input_title {
    font-size: 30px;
    padding: 0 0 0 20px;
}


.button_block {
    display: flex;
    justify-content: center;
    border-radius: 15px;
    border: solid 4px cyan;
    align-content: center;
    margin-top: 20px;

}
.button_disabled {
    opacity: 0.1;
}

.button_enabled {
    opacity: 1;
}

.error{
    opacity: 0.1;
}

